/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

/* Cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background:linear-gradient(to bottom right, #1d3557, #457b9d);
  border-bottom: 5px solid #5f699a;
  color: white;
}

.logo img {
  height: 80px;
}

.logo-subtitle {
  display: block;
  font-family: 'Playwrite México Guides', sans-serif;
  font-size: 26px;
  color: white;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none !important;

}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: transparent;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo a {
  text-decoration: none !important;
  color: inherit;
}

.menu a:hover {
  background-color: #f0f0f0;
  text-decoration: none !important;
  color: inherit;
}

.menu a.active {
  background-color: #d32f2f;
  color: white;
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-link {
  position: relative;
  display: inline-block;
}

.icon {
  width: 30px;
  height: 30px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  display: none;
}

/* Conteúdo principal da Webgrafia */
main.webgrafia-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  padding: 40px 20px;
}

main.webgrafia-container h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

/* Botões da Webgrafia */
.btn-webgrafia {
  display: inline-block;
  margin: 12px 15px;
  padding: 14px 28px;
  font-size: 1.1rem;
  color: white;
  background-color: #d32f2f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  min-width: 160px;
}

.btn-webgrafia:hover {
  background-color: #a92727;
}

@font-face {
  font-family: 'Playwrite México Guides';
  src: url('Jaro/Jaro-Regular-VariableFont_opsz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}